/*
-	Website 5 : Annapurna Bhojnalaya
-   CopyRight | All right Reserved
-   Designed by Mayank
-   CSS : css/responsive
*/

/*
    1200PX CSS ----------------------------
*/
@media (max-width: 1200px)
{
}
/*
    992PX CSS -----------------------------
*/
@media (max-width: 992px)
{
    /* MENU */
    #food
    {
        grid-template-columns: repeat(2,1fr);   
    }
    /* SERVICE */
    #service .container
    {
        flex-wrap:wrap;
    }
    .serve
    {
        max-width:500px;
        margin:2rem auto;
    }
    .serve:not(:last-child)
    {
        border:none;        
    }
    .serve_icon
    {
        font-size:6em;
    }
    /* ORDER */
    form
    {
        max-width:500px;
    }
    form > div
    {
        flex-wrap: wrap;
    }
    .fld
    {
        width:100%;
    }
    label
    {
        padding: 1rem 0;
        text-align: left;
        width: 100%;
    }
}
/*
    768PX CSS -----------------------------
*/
@media (max-width: 768px)
{
}
/*
    576PX CSS -----------------------------
*/
@media (max-width: 576px)
{
    /* HEADER */
    header
    {
        flex-wrap: wrap;
    }
    #menu_btn
    {
        margin-left: 85%;
        text-align: left;
        display:inline-block !important;
    }
    nav
    {
        display: none;
        width: 100%;
        height: 0;
    }
    nav a
    {
        text-align: left;
        background:var(--bg);
    }
    /* HOME */
    #home
    {
        display: grid;
        place-content: center;
        text-align: center;
        background: rgba(255,255,255,0.5);
    }
    h1
    {
        font-size: 3rem;
    }
    h1::after
    {
        content: 'Bhojnalaya';
        animation: none;
    }
    h3
    {
        width: 90%;
        font-size: 1.5rem;
    }
    #social
    {
        margin:3rem auto;
    }
    /* ORDER */
    #food
    {
        grid-template-columns: repeat(1,1fr);
    }
    .item
    {
        width: 90%;
        margin:1rem auto;
    }
    #search_fld
    {
        width:90%;
        margin: 3rem 5%;
    }
    /* SERVICE */
    #service
    {
        grid-template-columns: 1fr;
    }
    
    /* ORDER */
    form
    {
        width: 90%;
    }
    .odr_btn
    {
        width:100%;
    }
}
/*
    374PX CSS -----------------------------
*/
@media (max-width: 374px)
{
    /* HOME */
    #social
    {
        margin: 1rem;
    }
    #contact a
    {
        display: block;
    }
    
    /* SERVICE */
    .serve
    {
        width: 90%;
        margin: 1rem auto ;
    }
    /* ORDER */
    #order
    {
        height: auto;
    }
    form
    {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 1rem;
        border-radius: 0;
        box-shadow: none;
    }
    /* FOOTER */
    footer,
    .copy
    {
        text-align: left;
    }
}
/*
    THE END ===============================
*/
